.bibliography{
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    height: 100vh;
    background-image: url("../img/bg/biography1.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.container{
    max-width: 1000px;
    align-self: center;
    margin-bottom: 15px;
}

.link{
    text-decoration: none;
    color: white;
}
.link:hover{
    text-decoration: underline
}

@media (max-width:900px) {
    .container{
        width: 85vw;
    }
}