.biography{
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
}
.text{
    width: 50vw;
    max-height: 90vh;
    position: static;
    margin: auto;
    padding: 30px;
    overflow: scroll;
}

.portrait{
    width: 50vw;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.portrait>img{
    height: 600px;
    width: auto;
    max-height: 95vh;
}

.bio1{
    height: 100vh;
    background-image: url("../img/bg/biography1.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: row;
}
.bio2{
    height: 100vh;
    background-image: url("../img/bg/biography2.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: row;
}
.bio3{
    height: 100vh;
    background-image: url("../img/bg/biography3.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: row;
}
.bio4{
    height: 100vh;
    background-image: url("../img/bg/biography4.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: row;
}
.bio5{
    height: 100vh;
    background-image: url("../img/bg/biography5.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: row;
}
.bio-cell{
    width: 90vw;
    height: calc(100vh - 85px);
    position: relative;
    margin: 0 auto;
    top: 70px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    overflow:scroll;
}
.bio-cell>img{
    width: 90%;
    height: auto;
    padding: 5px ;
    margin: 0 auto;
}

@media (max-width:900px) {
    .bio1{
        width: 100vw;
        height: 100vh;
        overflow: hidden;
    };
}