.card{
    border-color: #1F262D;
    border: solid;
    width: 400px;

    padding-bottom: 15px;
    border-radius: 15px;

    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    align-items: center;
    background-color: none;
}

.card>img{
    width: 350px;
    height: auto;
    object-fit: contain;
    border-radius: 15px;
}

.card-button{
    height: fit-content;
    width: fit-content;
    background-color: #B18C3E;
    color: white;
    padding: 10px;
    border-radius: 15px;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 20px;
}
.card-button:hover{
    background-color: white;
    color: #3D4856;
}
