

.navbar{
  position: fixed;
  top: 0;
  left: 0;
    height: 55px;
    width: 100%;
    display: flex;
    display: -webkit-flex;
    flex-direction:column;
    align-items: flex-end;
    justify-content: center;
    background-color: #1F262D;
  }
  
  .navbar-list{
    width: fit-content;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: fit-content;
    gap: 25px;
    justify-content:center ;
    align-items: flex-end;
    padding-right: 25px;
  }
  
  .navbar-list>a{
    text-decoration: none;
    height: fit-content;
    width: 120px;
    background-color: #B18C3E;
    color: white;
    padding: 10px;
    border-radius: 15px;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 20px;
  }
  
  .navbar-list>a:hover{
    background-color: white;
    color: #3D4856;
  }
  
  .menu-button{
    display: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
    opacity: 0.2;
    border-style: none;
    height: 40px;
    width: 40px;
    position: fixed;
    top: 20px;
    left: 20px;
  }
  .menu-button>img{
    height: inherit;
    width: inherit;
  }
  
  @media (max-width:900px) {
    .menu-button{
      display: block;
      opacity: 1;
    }
    .navbar-overlay{
      position: fixed;
      top: 60px;
      left: 5vw;
      width: 80vw;
      height: fit-content;
      background-color: transparent;
      z-index: 9998;
    }
    .navbar-list{
      display: none;
      background-color:transparent;
      position: fixed;
      top: 70px;
      left: 10vw;
      width: 80vw;
      align-items: center;
      padding: 5px 0 5px;
      column-gap: 5px;
      opacity: 0;
      border-style: solid;
      border-color: #1F262D;
      border-radius: 15px;
    }
    .navbar-list>a{
      width: 80%;
      padding: 5;
    } 
    .show-menu{
      display: flex;
      flex-direction: column;
      opacity: 1;
      transition: all 0.5s;
      pointer-events: auto;
    }
  }
  
  