

.navbar{
    height: 50px;
    min-height: 50px;
    width: 100%;
    display: flex;
    display: -webkit-flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  
  .navbar-list{
    width: fit-content;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: fit-content;
    gap: 10px;
    justify-content:center ;
    align-items: flex-end;
    width: 95%;
  }
  
  .navbar-list>a{
    text-decoration: none;
    height: fit-content;
    width: fit-content;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-align:center;
    line-height: 100%;
    vertical-align: middle;
    font-family: 'Dosis','sans-serif';  
    font-weight: 500;
    font-size: 20px;
  }
  
  .navbar-list>a:hover{
    background-color: white;
    color: #733E20;
    transition: all 0.5s;
  }
  
  .menu-button{
    display: none;
    margin: 0;
    padding: 0;
    background-color: white;
    border-radius: 5px;
    height: fit-content;
    width: fit-content;
  }
  .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 40;
    background-color: white;
    border-radius: 5px;
  }
  
  @media (max-width:900px) {
    .menu-button{
      display: block;
    }
    .navbar{
      flex-direction: column-reverse;
    }
    .navbar-list{
      flex-direction: column;
      background-color:#7b2869;    
      position:absolute;
      top: 35px;
      left: auto;
      align-items: center;
      padding: 5px 0 5px;
      column-gap: 5px;
      visibility: hidden;
      opacity: 0;
    }
    .navbar-list>a{
      width: 95%;
      padding: 5;
    } 
    .show-menu{
      visibility: visible;
      opacity: 1;
      transition: all 0.5s;
    }
  }
  
  